/*
1. buttons
2. list
3. Contact List
4. section
5. section background
6. overlay for background image
7. dark Background
8. rating stars
9. user & info
10. social icons
11. cards
12. accordion
*/

// 1. Buttons
.button {
    display: inline-block;
    font-weight: 600;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    width: 100%;
    max-width: 200px;
    padding: 12px 24px;
    font-size: 0.875rem;
    border-radius: var(--border-radius);
    transition: all ease 0.3s;
    &-one {
        background: var(--brand-color);
        color: #fff !important;
        &:hover {
            box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
            transition: all ease 0.3s;
        }
    }
    &-one-outline {
        background: transparent;
        color: var(--brand-color);
        border: 1px solid var(--brand-color);
        &:hover {
            background: var(--brand-color);
            transition: all ease 0.3s;
            color: var(--light-color);
            &::after {
                filter: invert(100) brightness(100);
            }
        }
    }
}

.button-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -15px;
    .button {
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

// 2. list
.checklist {
    padding: 0;
    list-style: none;
    margin: 0 0 20px 0;
    li {
        padding-left: 30px;
        position: relative;
        &::before {
            content: "";
            height: 16px;
            width: 16px;
            background: url(../images/check-icon.svg) no-repeat center center;
            background-size: contain;
            position: absolute;
            left: 0;
            top: 7.5px;
            display: block;
        }
    }
}

// 3. Contact List
.contact-list-wrap {
    display: flex;
    justify-content: center;
}
.contact-list {
    list-style: none;
    padding: 0;
    li {
        position: relative;
        padding-left: 30px;
        line-height: 2.7;
        &::before {
            content: "";
            height: 20px;
            width: 20px;
            display: inline-block;
            position: absolute;
            left: 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            top: 15px;
        }
    }
    .phone::before {
        background-image: url("../images/phone-vibrate.svg");
    }
    .email::before {
        background-image: url("../images/envelope.svg");
    }
    a {
        color: var(--dark-color);
        font-size: var(--link-size-big);
    }
}

// 4. section
.section {
    padding: 80px 0;
    display: block;
    &-header {
        margin-bottom: 40px;
        h2,
        .h2 {
            margin-bottom: 0;
        }
    }
}
// 5. section background
.section-bg {
    position: relative;
    background: #fafafa;
    // &::before {
    //     content: "";
    //     height: 100%;
    //     width: 100%;
    //     // filter: blur(100px);
    //     display: block;
    //     top: 0;
    //     position: absolute;
    // }
    .ctr {
        position: relative;
    }
}

// 6. overlay for background image
.text-overlay {
    background-position: center center;
    background-size: cover;
    position: relative;
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background: var(--overlay);
    }
    .ctr {
        position: relative;
    }
}

// 7. dark Background
.dark-bg {
    color: var(--light-color);
    h1,
    h2,
    h3,
    h4,
    h5,
    ul,
    ol,
    li,
    p,
    a {
        color: var(--light-color);
    }
    .button-one-outline {
        color: var(--light-color);
    }
}
// 8. rating stars
.stars {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    li {
        height: 16px;
        width: 16px;
        flex: 0 0 16px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-image: url("../images/star.svg");
        &:not(:last-child) {
            margin-right: 10px;
        }
        &.active-half {
            background-image: url("../images/star-half.svg");
        }
        &.active {
            background-image: url("../images/star-fill.svg");
        }
    }
}
// 9. user & info
.user {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    .avatar {
        border-radius: var(--border-radius);
        max-width: 75px;
        height: 75px;
        flex: 0 0 75px;
        object-fit: cover;
    }
    .user-info {
        padding-left: 15px;
        .title {
            margin-bottom: 0;
        }
        p {
            margin-bottom: 0;
            font-size: 0.875rem;
        }
    }
}

// 10. social icons
.social-list {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    margin-right: -10px;
    margin-bottom: -10px;
    justify-content: center;
    li {
        margin-right: 10px;
        margin-bottom: 10px;
        flex: 0 0 auto;
        background-color: var(--dark-color);
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: var(--border-radius);
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: var(--brand-color);
            transition: all 0.3s ease-in-out;
        }
        a {
            display: block;
            height: 50px;
            width: 50px;
        }
    }
    .meta {
        background-image: url("../images/meta.svg");
    }
    .yt {
        background-image: url("../images/youtube.svg");
    }
    .in {
        background-image: url("../images/linkedin.svg");
    }
    .twt {
        background-image: url("../images/twitter.svg");
    }
}

// 11. cards
.card {
    padding: 15px;
    border: var(--light-border);
    border-radius: var(--border-radius);
    transition: all ease 0.3s;
    &:hover {
        box-shadow: var(--box-shadow);
        transition: all ease 0.3s;
    }
}

.card-img {
    width: 100%;
    border-radius: var(--border-radius);
    display: block;
}
.card-body {
    padding: 15px;
}

//  12. accordion
.accordion {
    padding: 15px 0;
    &-item {
        margin-bottom: 10px;
        background: var(--light-color);
        transition: all ease 0.3s;
        position: relative;
        border-radius: var(--border-radius);
        overflow: hidden;
        &:hover {
            box-shadow: var(--box-shadow);
            transition: all ease 0.3s;
            z-index: 10;
        }
    }
    &-header,
    &-content {
        padding: 30px;
    }
    &-header {
        cursor: pointer;
        // font-size: 1.5rem;
        position: relative;
        transition: all ease 0.5s;
        user-select: none;
        display: flex;
        justify-content: space-between;
        &::after {
            position: relative;
            display: inline-block;
            content: "";
            height: 18px;
            width: 18px;
            background: url("../images/chevron-down.svg") center center no-repeat;
            background-size: contain;
            top: 0;
            right: 0;
            flex: 0 0 auto;
        }
        &:not(.active) {
            margin-bottom: 0;
        }
        &.active {
            background: #fff;
            transition: all ease 0.5s;
            padding-bottom: 0;
            &::after {
                transform: rotate(180deg);
            }
            & + .accordion-content {
                padding-bottom: 30px;
            }
        }
    }
    &-content {
        font-size: 14px;
        padding-top: 0;
        padding-bottom: 0;
    }
    &-body {
        display: none;
    }
    &.sub-accordion {
        padding: 0;
        margin-bottom: 15px;
    }
}

.slider-navs {
    display: inline-flex;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        height: 40px;
        width: 40px;
        display: block;
        background: url("../images/arrow-icon.svg") no-repeat center center;
        background-size: 20px;
        position: static;
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
    .prev {
        transform: rotate(180deg);
    }
}
