:root {
    --brand-color: #06536b;
    --dark-color: #021835;
    --light-color: #ffffff;
    --rating-color: #ffba08;
    --font-family: "Manrope", sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --border-radius: 10px;
    --box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.1);
    --light-border: 1px solid rgba(0, 0, 0, 0.05);
    --overlay: rgba(0, 0, 0, 0.7);
    --lead-size: 1.8rem;
    --content-size: 1.125rem;
    --h1-size: 4.8rem;
    --h2-size: 4rem;
    --h3-size: 2.4rem;
    --h4-size: 1.8rem;
    --link-size: 0.875rem;
    --link-size-big: 1.125rem;
    --btn-font-size: 1.8rem;
    --font-weight: 400;
    --font-weight-bold: 700;
    --section-space: 80px;
    --heading-margin: 0 0 0.5em 0;
    --section-head: 0 0 40px 0;
}


@import "base/master";
@import "layouts/header";
@import "components";



// Page Hero
.page-hero {
    position: relative;
    display: flex;
    .img-wrap {
        width: 0;
    }
    .hero-img {
        position: absolute;
        border-radius: var(--border-radius);
        height: 100%;
        object-fit: cover;
    }
    .hero-caption {
        position: relative;
        padding: 60px 0;
    }
    .dark-card {
        padding: 30px;
        background: var(--dark-color);
        border-radius: var(--border-radius);
        color: var(--light-color);
        margin-bottom: 30px;
        border: 1px solid var(--brand-color);
        .button-one-outline{
            color: var(--light-color);
            &::after{
                filter: invert(100) brightness(100);
            }
        }
        h1 {
            color: var(--light-color);
        }
    }
}

.city-punch {
    background-attachment: fixed;
    background-repeat: repeat-y;
}

.choose-us {
    .card {
        display: flex;
        padding: 30px;
        border: 0;
        background: var(--light-color);
    }
    .card-img {
        max-width: 40px;
        flex: 0 0 40px;
        height: 100%;
    }
    .card-body {
        padding: 0 0 0 30px;
    }
}

.items-wrap {
    width: calc(50vw + 100% / 2 - 0.44vw);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 30px;
    .items-row {
        width: 100%;
        // display: flex;
        // gap: 30px;
    }
}

.testimonial {
    .card {
        padding: 30px;
        margin: 0 10px 0 0;
    }
}



.site-footer {
    background-attachment: fixed;
    .form-item {
        background: var(--dark-color);
        color: var(--light-color);
        &::placeholder {
            color: rgba(255, 255, 255, 0.3);
        }
    }
    .contact-list-wrap {
        justify-content: center;
    }
}

.subs-newsletter {
    position: relative;
    .button {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 8px 24px;
        border-radius: calc(var(--border-radius) - 2px);
    }
}

.form-item {
    padding: 10px 20px;
    border: 1px solid var(--brand-color);
    border-radius: var(--border-radius);
    display: block;
    position: relative;
    width: 100%;
}



@include down-sm {
    .subs-newsletter {
        .form-item {
            margin-bottom: 10px;
        }
        .button {
            position: static;
            max-width: 100%;
        }
    }
    .page-hero {
        .button-wrap {
            padding: 0 15px 15px;
        }
        .dark-card {
            padding: 0;
        }
    }
}
@include down-lg {
    :root{
        --content-size: 1rem;
    }
    .checklist{
        li::before{
            top: 6px;
        }
    }
    .main-naviation .button-one{
        color: var(--light-color) !important;
    }
    .section {
        padding: 40px 0;
    }
    .section-header {
        margin-bottom: 20px;
    }
    .page-hero {
        display: block;
        .hero-img {
            position: relative;
            height: 300px;
            width: 100%;
        }
        .img-wrap {
            width: 100%;
        }
        .hero-caption {
            padding: 0;
            margin-top: -100px;
        }
    }
    .contact-list-wrap {
        justify-content: flex-start;
    }

    .subs-newsletter {
        margin-bottom: 20px;
    }
    .carousel-wrap {
        width: 100%;
        .slider {
            flex-direction: column;
        }
    }
    .accordion-header{
        font-size: 1.125rem;
    }
}

@include up-md{
    .site-footer{
        background-image: url('../images/footer-bg.jpg')
    }
    .city-punch{
        background-image: url('../images/delhi-city.jpg')
    }
}
@include down-md{
    .site-footer{
        background-image: url('../images/footer-bg-mob.jpg')
    }
    .city-punch{
        background-image: url('../images/delhi-city-mob.jpg')
    }
}

@import 'bg-elements';